$aqua: #17828f;
$lightblue: #86ffff;
$mediumblue: #20549a;
$cianblue: #163D6B;
$darkblue: #0d233d;
$deepblue: #00132b;

$red: #c62f2f;

$lightgreen: #a1fe00;
$darkgreen: #219e00;
$brightgreen: #5ffd00;

$mediumblue05: rgba(32, 84, 154, 0.5);