@import 'styles/colors.scss';
@import 'game-area';
@import 'scopes';
@import 'progress';

@font-face {
  font-family: Marvin;
  src: url(fonts/Marvin.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background: $aqua;
  color: white;
  font-family: Marvin, serif;
}

.wrapper {
  max-width: 800px;
  max-height: 1000px;
  margin: 0 auto;
}

.header {
  height: 110px;
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}