@import 'styles/colors.scss';
@import 'game-area';
@import 'scopes';
@import 'progress';
@import 'button';
@import 'level-button';

@font-face {
  font-family: Marvin;
  src: url(fonts/Marvin.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: url(images/background.png) no-repeat;
  background-size: cover;
  color: white;
  font-family: Marvin, serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
  justify-items: center;
}